#blog{
    color: #590219;
    font-family: 'Pangolin',cursive;
  font-size: 2.9rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 15px;
  font-family: 'Roboto' sans-serif;
  margin-top: 15px;
  margin-bottom: 40px;
}

#blog-button{
    margin-bottom: 35px;
}

.btn-light{
    box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
    width: 100%;
}

#blog-title{
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Pangolin', cursive;
    letter-spacing: .1;
    font-weight: bolder;
    color: #212529;
    font-size: 2.1rem;
}

.blockquote-footer{
    font-size: 1.15rem;
    font-weight: 600;
    text-align: right;
    margin-top: 15px;
}
#blog-content{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212529;
}