* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* border: solid red 2px; */
}

body {
  /* background: #E5E6FF; */
  /* min-height: 600vh; */
  /* width:90vw; */
  /* height: 100vh; */
  margin: 0;
   margin-top: 300px; 
  /* top:20%; */
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: white;
  height: 40vh;
  width: 100vw;
}





